.App {
  text-align: center;
  
  
}
.main{
  position: absolute;
  top:180px;
  z-index: -10;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.listing-text{
  display: flex !important;
   justify-content: space-between;
}
.listing-text :first-child{
  display: flex !important;
}

.listing-img{
  width: 280px;
  height: 280px;
  margin: 0 10px;
  border-radius: 10px;
}